Pandas 

Pandas is a powerful open-source Python library used for data manipulation and analysis. It provides flexible data structures like Series (1D) and DataFrame (2D) that make it easy to clean, analyze, and visualize structured data efficiently. Pandas is widely used in data science, machine learning, and data analysis tasks.

In [3]:
import pandas as pd  #import pandas for data manipulation

Series 

A Series in pandas is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, etc.). 

It is similar to a column in a spreadsheet or a database table. Each value in a Series has an associated label, called its index, which makes data selection and manipulation easy.

In [ ]:
#creating a series from a list

import pandas as pd
data=[1,2,3,4,5]
s=pd.Series(data)
print(s)
print(type(s))  #checking the type of the series 

#The output will be a pandas series object with the values from the list and default integer index starting from 0

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# Creating a series from a dictionary

import pandas as pd
data_dict={ 'a':1,
            'b':2,
            'c':3
            }

s_dict=pd.Series(data_dict)
print(s_dict)
print(type(s_dict))

# The output will be a pandas series object with keys as index and values as the corresponding values from dictionary

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
# Giving custom index to series 

data=[1,2,3]
index=['a','b','c']
s_custom=pd.Series(data,index=index) #giving custom index
print(s_custom)

a    1
b    2
c    3
dtype: int64

DATA FRAMES 

A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or a SQL table. Each column in a DataFrame can have a different data type (integer, float, string, etc.).

Key features of DataFrames:

Labeled rows and columns for easy data selection and manipulation

Can hold different data types in each column

Supports operations like filtering, grouping, merging, and aggregation

Easy to read/write data from various file formats (CSV, Excel, SQL, etc.)

In [12]:
#Creating Data frame from a dictionary
dict_data={
    'Name':['Gagan','Krish','Ravi'],
    'Age' :[18,32,45],
    'city':['Banglore','Gurugram','Mysuru']
}

df=pd.DataFrame(dict_data)
print(df)
print(type(df))

    Name  Age      city
0  Gagan   18  Banglore
1  Krish   32  Gurugram
2   Ravi   45    Mysuru
<class 'pandas.core.frame.DataFrame'>

In [13]:
#  Creating Dataframe from numpy arrays 

import numpy as np

# Creating numpy arrays
names = np.array(['Gagan', 'Krish', 'Ravi'])
ages = np.array([18, 32, 45])
cities = np.array(['Banglore', 'Gurugram', 'Mysuru'])

# Creating a DataFrame from numpy arrays
df_np = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'city': cities
})

print(df_np)
print(type(df_np))

    Name  Age      city
0  Gagan   18  Banglore
1  Krish   32  Gurugram
2   Ravi   45    Mysuru
<class 'pandas.core.frame.DataFrame'>

In [15]:
# Creating the dataframe from a list of dictionaries

list_data=[
    {'Name':'Gagan','Age':18,'city':'Banglore'},
    {'Name':'Krish','Age':32,'city':'Gurugram'},
    {'Name':'Ravi','Age':45,'city':'Mysuru'}
]

df=pd.DataFrame(list_data)
print(df)
print(type(df))

    Name  Age      city
0  Gagan   18  Banglore
1  Krish   32  Gurugram
2   Ravi   45    Mysuru
<class 'pandas.core.frame.DataFrame'>

Accessing data from Dataframe

In [22]:
# Accessing data from Dataframe
print(df)

#Accessing a single column
print("Accessing Name Column: \n")
print(df['Name']) #accessing Name column

#Accessing multiple columns

print("Accessing Multiple Columns: ")
print(df[['Name','Age']])

    Name  Age      city
0  Gagan   18  Banglore
1  Krish   32  Gurugram
2   Ravi   45    Mysuru
Accessing Name Column:

0    Gagan
1    Krish
2     Ravi
Name: Name, dtype: object
Accessing Multiple Columns:
    Name  Age
0  Gagan   18
1  Krish   32
2   Ravi   45

In [ ]:
#Accessing rows by index

# Access a single row by index label using .loc
print(df.loc[0])  # Row with index label 0

# Access a single row by integer position using .iloc
print(df.iloc[1])  # Second row (index 1)

# Access multiple rows by index labels using .loc
print(df.loc[[0, 2]])  # Rows with index labels 0 and 2

# Access a range of rows by integer position using .iloc
print(df.iloc[0:2])  # First two rows (index 0 and 1)


# Difference between .loc and .iloc
# .loc is label-based, which means you have to specify the name of the rows and columns that you want to filter out.
# .iloc is integer position-based, so you have to specify rows and columns by their integer index.

# Example:
# df.loc[0] accesses the row with index label 0 (could be different if the index is custom).
# df.iloc[0] always accesses the first row, regardless of the index label.

Name       Gagan
Age           18
city    Banglore
Name: 0, dtype: object
Name       Krish
Age           32
city    Gurugram
Name: 1, dtype: object
    Name  Age      city
0  Gagan   18  Banglore
2   Ravi   45    Mysuru
    Name  Age      city
0  Gagan   18  Banglore
1  Krish   32  Gurugram

In [ ]:
# Accessing Specific values in Dataframe using at and iat

print(df)

#Accessing a specific value using at
print(df.at[1,'Name']) #Accessing the value in the second and 'Name' column

print(df.at[2,'Age'])  #Accesing value in third row and 'Age'column


#Accessing a specific value using iat
print(df.iat[0,1]) #Accessing the value in first row and second column (Age)

    Name  Age      city
0  Gagan   18  Banglore
1  Krish   32  Gurugram
2   Ravi   45    Mysuru
Krish
45
18

Data Manipulation with pandas

In [ ]:
# Some Attributes and methods of Dataframe 

# Display all attributes and methods of DataFrame
print(dir(df))

# Commonly used attributes and methods with explanations:

# Attributes:
print("\nAttributes:")

print("df.columns  -> Returns the column labels of the DataFrame")
print("df.index    -> Returns the row index labels of the DataFrame")
print("df.dtypes   -> Returns the data types of each column")
print("df.shape    -> Returns a tuple representing the dimensionality (rows, columns)")
print("df.size     -> Returns the number of elements in the DataFrame")
print("df.values   -> Returns the DataFrame as a numpy array")

# Methods:
print("\nMethods:")
print("df.head()       -> Returns the first 5 rows of the DataFrame")
print("df.tail()       -> Returns the last 5 rows of the DataFrame")
print("df.info()       -> Prints a concise summary of the DataFrame ")
print("df.describe()   -> Generates descriptive statistics only for numeric columns")
print('df.describe(include='all') -> Generates the descriptive statistics for all columns including non-numeric ones')
print("df.T            -> Transposes the DataFrame")
print("df.sort_values() -> Sorts by the values along either axis")
print("df.groupby()    -> Groups data using a mapper or by a Series of columns")
print("df.drop()       -> Removes rows or columns")
print("df.copy()       -> Returns a copy of the DataFrame")
print("df.isnull()     -> Detects missing values")
print("df.fillna()     -> Fills NA/NaN values")
print("df.apply()      -> Applies a function along an axis of the DataFrame")
print("df.to_numpy()   -> Converts the DataFrame to a NumPy array")
print("df.to_dict()    -> Converts the DataFrame to a dictionary")
print("df.to_csv()     -> Writes the DataFrame to a CSV file")

['Age', 'Name', 'T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__arrow_c_stream__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__dataframe_consortium_standard__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_arith_method_with_reindex', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_from_mgr', '_constructor_sliced', '_constructor_sliced_from_mgr', '_create_data_for_split_and_tight_to_dict', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_flex_arith_method', '_flex_cmp_method', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values_for_csv', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_logical_func', '_logical_method', '_maybe_align_series_as_frame', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_shift_with_freq', '_should_reindex_frame_op', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'city', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

Attributes:
df.columns  -> Returns the column labels of the DataFrame
df.index    -> Returns the row index labels of the DataFrame
df.dtypes   -> Returns the data types of each column
df.shape    -> Returns a tuple representing the dimensionality (rows, columns)
df.size     -> Returns the number of elements in the DataFrame
df.values   -> Returns the DataFrame as a numpy array

Methods:
df.head()       -> Returns the first 5 rows of the DataFrame
df.tail()       -> Returns the last 5 rows of the DataFrame
df.info()       -> Prints a concise summary of the DataFrame
df.describe()   -> Generates descriptive statistics
df.T            -> Transposes the DataFrame
df.sort_values() -> Sorts by the values along either axis
df.groupby()    -> Groups data using a mapper or by a Series of columns
df.drop()       -> Removes rows or columns
df.copy()       -> Returns a copy of the DataFrame
df.isnull()     -> Detects missing values
df.fillna()     -> Fills NA/NaN values
df.apply()      -> Applies a function along an axis of the DataFrame
df.to_numpy()   -> Converts the DataFrame to a NumPy array
df.to_dict()    -> Converts the DataFrame to a dictionary
df.to_csv()     -> Writes the DataFrame to a CSV file

In [ ]:
#Adding new Columns to Dataframe

df['salary']=[50000,60000,80000]
print(df)

#Removing a column from Dataframe

# df.drop('salary')  This will gives error as its going to check row wise and not column wise so we need to specify axis=1
df.drop('salary',axis=1)  #This will remove the 'salary column from data frame
print(df)  # But when we print df , still salary column is present since df.drop() is not a permanant operation by default so we give inplace=True

df.drop('salary',axis=1,inplace=True)  #permantantly removing the column
print("dataframe without salary column\n",df)

ValueError: Length of values (3) does not match length of index (154)

In [ ]:
#Drop rows from Dataframe 
df.drop(1)  #this will drop the first row fron df 
print(df)   #still this is not a permanant operation so we need to give inplace=True
df.drop(1,inplace=True)
print(df)

    Name  Age      city
1  Krish   32  Gurugram
2   Ravi   45    Mysuru

Reading Data from Dataset

In [65]:
#Reading data from CSV file

df=pd.read_csv('sample.csv')
print(df.head())  #displaying first 5 rows of dataframe

  product.partNumber location.locationIdentifier inventoryType  quantity  \
0         PS-SL-A287                        LT-1       PRODUCT        25
1         PS-SL-A288                        LT-1       PRODUCT        20
2         PS-SL-H309                        LT-1       PRODUCT         3
3         PS-SL-H310                        LT-1       PRODUCT        35
4         PS-SL-F342                        LT-1       PRODUCT        43

  quantityUnits    value valueCurrency  reservationOrders  daysOfSupply  \
0            EA  31250.0           USD                  2            19
1            EA  25000.0           USD                  2            35
2            EA   3750.0           USD                  2            14
3            EA  43750.0           USD                  2            16
4            EA  53750.0           USD                  2            42

   shelfLife  ...  quantityUpperThreshold  quantityLowerThreshold  \
0        365  ...                     100                      10
1        365  ...                     100                      10
2        365  ...                     100                      10
3        365  ...                     100                      10
4        365  ...                     100                      10

   daysOfSupplyUpperThreshold  daysOfSupplyLowerThreshold  expiringThreshold  \
0                          30                          10                NaN
1                          30                          10                NaN
2                          30                          10                NaN
3                          30                          10                NaN
4                          30                          10                NaN

       plannerCode  velocityCode inventoryParentType class     segment
0  Street Lighting             B              ONHAND   NEW  INDUSTRIAL
1  Street Lighting             B              ONHAND   NEW  INDUSTRIAL
2  Street Lighting             B              ONHAND   NEW  INDUSTRIAL
3  Street Lighting             A              ONHAND   NEW  INDUSTRIAL
4  Street Lighting             A              ONHAND   NEW  INDUSTRIAL

[5 rows x 22 columns]

Handling Missing Values

In [66]:

#Checking for missing values

print(df.isnull())  #this will return a dataframe with boolean values - True if values are missing and False if Values are present

     product.partNumber  location.locationIdentifier  inventoryType  quantity  \
0                 False                        False          False     False
1                 False                        False          False     False
2                 False                        False          False     False
3                 False                        False          False     False
4                 False                        False          False     False
..                  ...                          ...            ...       ...
149               False                        False          False     False
150               False                        False          False     False
151               False                        False          False     False
152               False                        False          False     False
153               False                        False          False     False

     quantityUnits  value  valueCurrency  reservationOrders  daysOfSupply  \
0            False  False          False              False         False
1            False  False          False              False         False
2            False  False          False              False         False
3            False  False          False              False         False
4            False  False          False              False         False
..             ...    ...            ...                ...           ...
149          False  False          False              False         False
150          False  False          False              False         False
151          False  False          False              False         False
152          False  False          False              False         False
153          False  False          False              False         False

     shelfLife  ...  quantityUpperThreshold  quantityLowerThreshold  \
0        False  ...                   False                   False
1        False  ...                   False                   False
2        False  ...                   False                   False
3        False  ...                   False                   False
4        False  ...                   False                   False
..         ...  ...                     ...                     ...
149      False  ...                   False                   False
150      False  ...                   False                   False
151      False  ...                   False                   False
152      False  ...                   False                   False
153      False  ...                   False                   False

     daysOfSupplyUpperThreshold  daysOfSupplyLowerThreshold  \
0                         False                       False
1                         False                       False
2                         False                       False
3                         False                       False
4                         False                       False
..                          ...                         ...
149                       False                       False
150                       False                       False
151                       False                       False
152                       False                       False
153                       False                       False

     expiringThreshold  plannerCode  velocityCode  inventoryParentType  class  \
0                 True        False         False                False  False
1                 True        False         False                False  False
2                 True        False         False                False  False
3                 True        False         False                False  False
4                 True        False         False                False  False
..                 ...          ...           ...                  ...    ...
149               True        False         False                False  False
150               True        False         False                False  False
151               True        False         False                False  False
152               True        False         False                False  False
153               True        False         False                False  False

     segment
0      False
1      False
2      False
3      False
4      False
..       ...
149     True
150     True
151     True
152     True
153     True

[154 rows x 22 columns]

In [67]:
#Calculating the sum of missing values in each column
print(df.isnull().sum())

product.partNumber               0
location.locationIdentifier      0
inventoryType                    0
quantity                         0
quantityUnits                    0
value                            0
valueCurrency                    0
reservationOrders                0
daysOfSupply                     0
shelfLife                        0
reorderLevel                     0
expectedLeadTime                 0
quantityUpperThreshold           0
quantityLowerThreshold           0
daysOfSupplyUpperThreshold       0
daysOfSupplyLowerThreshold       0
expiringThreshold              154
plannerCode                      0
velocityCode                     0
inventoryParentType              0
class                            0
segment                         76
dtype: int64

In [68]:
print(df.isnull().any(axis=0)) #This will return True if any values is missing in the column and False if all values are present

product.partNumber             False
location.locationIdentifier    False
inventoryType                  False
quantity                       False
quantityUnits                  False
value                          False
valueCurrency                  False
reservationOrders              False
daysOfSupply                   False
shelfLife                      False
reorderLevel                   False
expectedLeadTime               False
quantityUpperThreshold         False
quantityLowerThreshold         False
daysOfSupplyUpperThreshold     False
daysOfSupplyLowerThreshold     False
expiringThreshold               True
plannerCode                    False
velocityCode                   False
inventoryParentType            False
class                          False
segment                         True
dtype: bool

In [69]:
#Filling missing Values

#Filling missing values with a specific value

# 1) Filling missing values with 0 
print(df.fillna(0,inplace=True))  #This will fill all the missing values with 0 and make it a permanant operation
print(df)

None
    product.partNumber location.locationIdentifier inventoryType  quantity  \
0           PS-SL-A287                        LT-1       PRODUCT        25
1           PS-SL-A288                        LT-1       PRODUCT        20
2           PS-SL-H309                        LT-1       PRODUCT         3
3           PS-SL-H310                        LT-1       PRODUCT        35
4           PS-SL-F342                        LT-1       PRODUCT        43
..                 ...                         ...           ...       ...
149           83600200                        LT-2          ITEM       118
150           83600300                        LT-2          ITEM       323
151            9664145                        LT-2          ITEM       273
152            9664146                        LT-2          ITEM       259
153            9664147                        LT-2          ITEM        27

    quantityUnits     value valueCurrency  reservationOrders  daysOfSupply  \
0              EA   31250.0           USD                  2            19
1              EA   25000.0           USD                  2            35
2              EA    3750.0           USD                  2            14
3              EA   43750.0           USD                  2            16
4              EA   53750.0           USD                  2            42
..            ...       ...           ...                ...           ...
149            EA  151866.0           USD                  0            41
150            EA  470288.0           USD                  0            44
151            EA  227409.0           USD                  0            27
152            EA  267288.0           USD                  0            42
153            EA   26352.0           USD                  0            56

     shelfLife  ...  quantityUpperThreshold  quantityLowerThreshold  \
0          365  ...                     100                      10
1          365  ...                     100                      10
2          365  ...                     100                      10
3          365  ...                     100                      10
4          365  ...                     100                      10
..         ...  ...                     ...                     ...
149        365  ...                     400                     100
150        365  ...                     400                     100
151        365  ...                     400                     100
152        365  ...                     400                     100
153        365  ...                     400                     100

     daysOfSupplyUpperThreshold  daysOfSupplyLowerThreshold  \
0                            30                          10
1                            30                          10
2                            30                          10
3                            30                          10
4                            30                          10
..                          ...                         ...
149                          30                          10
150                          30                          10
151                          30                          10
152                          30                          10
153                          30                          10

     expiringThreshold         plannerCode  velocityCode inventoryParentType  \
0                  0.0     Street Lighting             B              ONHAND
1                  0.0     Street Lighting             B              ONHAND
2                  0.0     Street Lighting             B              ONHAND
3                  0.0     Street Lighting             A              ONHAND
4                  0.0     Street Lighting             A              ONHAND
..                 ...                 ...           ...                 ...
149                0.0  Primary Foundation            C               ONHAND
150                0.0  Primary Foundation            C               ONHAND
151                0.0   Secondary Chassis            C               ONHAND
152                0.0   Secondary Chassis            A               ONHAND
153                0.0   Secondary Chassis            A               ONHAND

    class     segment
0     NEW  INDUSTRIAL
1     NEW  INDUSTRIAL
2     NEW  INDUSTRIAL
3     NEW  INDUSTRIAL
4     NEW  INDUSTRIAL
..    ...         ...
149   NEW           0
150   NEW           0
151   NEW           0
152   NEW           0
153   NEW           0

[154 rows x 22 columns]

In [ ]:
# 2) Filling missing values with mean of the column 

# print(df.head())
df['expiringThreshold']=df['expiringThreshold'].fillna(df['expiringThreshold'].mean())
#fill the missing values in 'exploringthreshold column with mean of the column

print(df['expiringThreshold'])
print(df['expiringThreshold'].isnull()) #checking for any missing value still

0      False
1      False
2      False
3      False
4      False
       ...
149    False
150    False
151    False
152    False
153    False
Name: expiringThreshold, Length: 154, dtype: bool

In [ ]:
#Applying a function to a Dataframe

df['expiringThreshold']=df['expiringThreshold'].apply(lambda x:x+1)
print(df['expiringThreshold'])

def add_one(x):
    return x+1

df['expiringthreshold']=df['expiringThreshold'].apply(add_one)

0      3.0
1      3.0
2      3.0
3      3.0
4      3.0
      ...
149    3.0
150    3.0
151    3.0
152    3.0
153    3.0
Name: expiringThreshold, Length: 154, dtype: float64